body{
    background-color:  whitesmoke;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table{
    margin: auto;
    border: 1px solid black;
}
h1{
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bb{
    text-transform: uppercase;
    background-color: rgb(128, 118, 118);
    
}